// Typography

$font-primary: "Noto Sans", sans-serif;
$font-accent: "Autour One", Verdana, Tahoma, sans-serif;
$font-default: 400;

// Colors

$blue: #004AAD;
$green: #39BB00;
$lt-green: #B7E5AA;
$yellow: #FFCC00;
$med-yellow: #FFE185;
$lt-yellow: #FFEBAE;
$orange: #F49200;
$med-orange: #FDB549;
$lt-orange: #FFC56D;
$med-gray: #ccc;
$gray: gray;
$lt-gray: #EFEFEF;
$black: #000;


body {
	line-height: 1;
    font-family: 'Noto Sans', sans-serif;
}

// Links & Buttons

.submit {
	margin-bottom: 16px;
	height: 2em;
	width: 18em;
	text-transform: uppercase;
	font-weight: 700;
	color: $black;
	background-color: $med-orange;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.submit:hover {
    background-color: $orange
}

// Homepage

.homepage-container {
    display: flex; 
    align-items: flex-start; 
	width: 100%;
}

.image-container {
	display: flex;   
    width: 50%; 
	justify-content: center;
	padding-top: 20px;
}

.content-container {
    flex: 1;  
    width: 50%;  
	padding-top: 20px;
	padding-right: 110px;
}

.content-container > h3 {
	padding-top: 20px;
	font-family: $font-accent;
}

.image-container > img {
	height: 500px; 
	width: 500px
}

.form {
	font-family: $font-primary;
	color: $gray; // Text below login button
	display: flex;
	flex-flow: column nowrap;
	align-items: left;
}

.form > label {
	font-size: small;
	margin: 2px 0px 6px 2px; // Top, right, bottom, left
}

.input {
	margin-bottom: 16px;
	padding: 3px 6px;
	width: 17em;
	height: 2em;
	color: $black;
	background-color: $lt-gray;
	border-radius: 3px;
	border: none;
}

.reg-link {
    cursor: pointer; 
}

.reg-link:hover {
    color: $black; 
}

// Nav

header {
    display: flex; 
    align-items: center; // Aligns children vertically in the center
    justify-content: space-between; // Spaces out main items
    padding: 10px 20px;
	flex-wrap: nowrap;
}

#text-logo{
    height: 75px; 
}

#logo {
    height: 75px; 
    margin-left: 5px; 
	margin-bottom: 3px;
}

nav {
    display: flex; 
    justify-content: flex-end; // Aligns nav links to the right
    align-items: center; // Aligns nav links vertically
    gap: 20px; // Adds space between each link
    flex-grow: 1; // Allows the nav to take up remaining space
}

.nav-link {
    text-decoration: none;
    color: black; 
	font-family: $font-primary;
	font-size: medium;
    padding: 5px 10px; 
    border-radius: 5px; 
}

.nav-link:hover {
    background-color: $lt-yellow; 
    transition: background-color 0.3s; 
}


// Edit Profile

.edit-profile > button {
	margin-bottom: 16px;
	height: 2em;
	width: 18em;
	text-transform: uppercase;
	font-weight: 700;
	color: $black;
	background-color: $med-yellow;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.edit-profile > button:hover {
    background-color: $yellow
}

// Browse Books

.browse-container {
	margin: 0px 25px;
}

.filters {
    display: flex; 
    justify-content: flex-start; 
    margin: 20px 0px; 
}

.filters select {
	width: 190px;
    padding: 4px 4px; 
	margin-right: 8px;
    border: 2px solid $med-gray; 
    border-radius: 3px; 
    cursor: pointer; 
    transition: border-color 0.3s; 
}

.filters select:hover {
    border-color: $lt-green; 
}

.filters select:focus {
    border-color: $lt-green; 
    outline: none; 
}
